<% include ../partials/boilerplate %>

<div class='register-container'>
  <form method='POST' action='/auth/register'>
    <input name='username' type='text' placeholder='username' required /></br>
     <input name='password' type='password' placeholder='password' required /></br>
    <input name='email' type='email' placeholder='email' required /></br>
    <input type='submit' value='Register!' />
  </form>
</div>

<% include ../partials/end %>