<!-- <!DOCTYPE html>
 <html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
        <link href="https://fonts.googleapis.com/css?family=Londrina+Outline" rel="stylesheet">
    </head>
    <body> -->
        <% include ./partials/boilerplate %>
        <div class='container'>
            <div class='backlayer'>
                <div class='headbanner'>Welcome to MyResRating!</div>
                <form method='get' action='/review/search'>
                <!--need to make require after finish  -->
                 <input name='username' type='text' placeholder='username'  /> </br> 
                 <input name='password' type='password' placeholder='password'  /></br>
                 <input type='submit' value='Log in!' />
                </form>
            </div>
        </div>        
    <!-- </body>
</html> --> -->
<% include ./partials/end %>