  <% include ../partials/boilerplate %>


    <div class='backlayer'>
       <div class='pagetitle'>
        <h1>Add New Rating!</h1>
        </div>
        <div class='addarea'>
  <form method='POST' action='/review'>
  <input type='text' name='res_name' placeholder='Name' /> </br>
  <select class='selec-style' name='rating'>
  <option value="5">5</option>
  <option value="4">4</option>
  <option value="3">3</option>
  <option value="2">2</option>
  <option value="1">1</option>
</select> </br>
  <input type='text' name='memo' placeholder='Memo' />  </br>
  <input type='submit' value='Add it!'/>
</form>
</div>
</div>
</div>

  <% include ../partials/end %>