  <% include ../partials/boilerplate %>
      <div class='backlayer'>
          <form method='POST' action='/review/search'>
                 <input name='res_name' type='search' placeholder='search'/><input type='submit' value='Search!' />
                 </form>
                 <div class="linkto">
                 <a href="/review/add">Submit a New Rating</a> 
                 <a href="/review/history">All Rating History!</a>
                </div>
      </div>
  </div>

  <% include ../partials/end %>