  <% include ../partials/boilerplate %>
  <div class='container'>
      <div class='backlayer'>
          <form method='GET' action='/review'>
                 <input name='search' type='search' placeholder='search'/></br> 
                 </form>
                 <div class="linkto">
                 <a href="/review/add">Submit a New Rating</a> 
                 <a href="/review/history">All Rating History!</a>
                </div>
      </div>
  </div>

  <% include ../partials/end %>