
body {
    background-image: url('/images/food_back.jpg');
    background-size: cover;
}

.container {
    /* width:100% ; */
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backlayer {
    color: white; 
    width: 700px;
    height: 400px;
    background-color: black;
    opacity: .8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Londrina Outline', cursive;
}

.headbanner {
    font-size: 68px;
    margin : 10px auto 50px auto;
    font-family: 'Londrina Outline', cursive;
}

input[type=text], select {
    width: 60vh;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=search], select {
    width: 60vh;
    padding: 12px 20px;
    margin: 60px 0 40px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 60vh;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30vh;
    background-color: #D4640C;
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=memo], select {
    width: 60vh;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select-style , select {
    padding: 15px 8px;
    margin:1px;
    border:none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    background-color: orange;
}

.addarea {
    margin: 30px auto 10px auto; 
}

.linkto {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-family: 'Londrina Outline', cursive;
}

.linkto a{
   text-decoration: none;   
   font-size: 60px;
   color: Orange;
   margin: 20px 0 20px 0;
}

.mainback {
    color: white; 
    width: 60%;
    height: 80%;
    background-color: black;
    opacity: .9;
    text-align: left;
}

.history {
    margin: 350px 0px 0px 0px;
    padding: 10px auto;
    height: auto;
    min-height:400px;
    color: white; 
    width: 60%;
    background-color: black;
    opacity: .9;
    text-align: left;
}

.content {
    border: 2px solid gold;
    margin: 15px auto;
    padding: 10px auto;
}

.review {
 margin: 10px 0px 10px 40px;
 font-family: 'Wellfleet', cursive; 
}

.review h3 {
    margin: 10px auto; 
}

.myreview {
    margin: 0px;
    font-family: 'Wellfleet', cursive;
    font-size:16px;
    padding:10px auto;
    margin:5px;
    background-color: orange;
    text-align: center;
    color:black;
}

.title {
font-size:24px;
color: orange;
font-family: 'Wellfleet', cursive;
margin: 10px 0px 0px 40px;
}

.pagetitle {
    font-size: 68px;
    margin : 10px auto 10px auto;
    font-family: 'Londrina Outline', cursive;
    color:orange;
}

.navigation {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    background-color: black;
    border-bottom: 5px solid white;
}

.navigation a{
   text-decoration: none;   
   font-size: 48px;
   color: Orange;
   margin: 20px 0 20px 0;
   font-family: 'Londrina Outline', cursive;
  
}

.actionbar {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    justify-content: space-around;
}

